<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" />

    <script src="https://kit.fontawesome.com/a264910d53.js" crossorigin="anonymous"></script>

    <title>Profile</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link" href="index.html" th:href="@{/}">
                    <i class="fas fa-car" style="font-size: 4em; color: #fff;"></i>
                </a>
            </li>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link" href="#" th:href="@{/}">
                        User Dashboard
                    </a>
                    </li>
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link" href="index.html" th:href="@{/}">
                            <i class="fas fa-car" style="font-size: 6em; color: #fff;"></i>
                        </a>
                    </li>
                    <li class="nav-item d-none d-lg-block" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/admin/logout}">
                        Logout
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- <div class="container">
      <h2>USER DASHBOARD</h2>
      <p>Welcome <span sec:authentication="principal.email"></span></p>
    </div> -->
    <li sec:authorize="isAuthenticated()">
        <a th:href="@{/admin/logout}">Logout</a>
    </li>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>

</html>